<style>
    .maincontainer{
      display: flex;
      justify-content: center;
    padding-top: 10px;
      background: #30336b;
      height: 100vh;
    
    }
    .root{
    width: 1300px;
    height: auto;
    background: #fff;
    border-radius: 50px;
    padding: 10px;
    }
   
    .heading{
    color: #4834d4;
    
    font-size: 35px;
    font-weight: bold;
    font-family: Syne Mono;
    
    display: flex;
    justify-content: center;
    padding: 5px;
    
    
    }
    
    </style>
    
    <html>
    <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          <script src="https://code.jquery.com/jquery-3.6.0.min.js "></script>  
          <script src="/javascripts/project.js"></script>
          <script>
       $(document).ready(function(){
    $('select').formSelect();
  });

  
  $(document).ready(function(){
    $('.timepicker').timepicker();
  });
          </script>
    </head>
    <body>
      <form action="/flight/addnewrecord" method="post" enctype="multipart/form-data">
      <div class="maincontainer">
       <div class="root">
        <div class="heading">
          <span><img src="/images/airjet1.png" width="150" ></span> &nbsp;&nbsp; Flight Enquiry System
        </div>
        
        <div class="row">
            <div class="col s6">
                <div class="input-field ">
                    <i class="material-icons prefix">airplanemode_active</i>
                    <input id="icon_fid" name="flightid" required type="text" class="validate">
                    <label for="icon_fid">Flight id</label>
                  </div>

                </div>
                    <div class="col s6">
                        <div class="input-field ">
                            <i class="material-icons prefix">business</i>
                            <input id="icon_com" name="companyname" required type="text" class="validate">
                            <label for="icon_com">Company Name </label>
                          </div>
        
                        </div>
                        </div>
                        <div class="row">
                            <div class="col s3">
                              <div class="input-field">
                                <i class="material-icons prefix">flight_takeoff</i>
                                <select name="sourcestate" required id="sourcestate">
                                <option value="" disabled selected>choose your state</option>
                                  
                                
                                </select>
                                <label>sourcestate</label>
                              </div>
                
                                </div>
                                <div class="col s3">
                                  <div class="input-field">
                                    <i class="material-icons prefix">flight_takeoff</i>
                                    <select name="sourcecity" required id="sourcecity">
                                    <option value="" disabled selected>choose your city</option>
                                      
                                    
                                    </select>
                                    <label>sourcecity</label>
                                  </div>
                    
                                    </div>
                                    
                                
    
                 
                <div class="col s3">
                <div class="input-field ">
               <i class="material-icons prefix">flight_land</i>
               <select name="destinationstate" required id="destinationstate">
                <option value="" disabled selected>choose your state</option>
                  
                
                </select>
                <label>destinationstate</label>
           
           </div>             
        </div>
            <div class="col s3">
            <div class="input-field ">
           <i class="material-icons prefix">flight_land</i>
           <select name="destinationcity" required id="destinationcity">
            <option value="" disabled selected>choose your city</option>
              
            
            </select>
            <label>destinationcity</label>
                            
     </div>
                                            
       </div>
       <div class="row">
        <div class="col s3">
  <div class="input-field col s12">
    <select name="status" required>
      <option value="" disabled selected>Choose your option</option>
      <option >Non stop</option>
      <option >with stop</option>
    
    </select>
    <label>Status</label>
  </div>
       </div>
       <div class="col s3" style="display: flex; flex-direction: row;justify-content:space-around ;">
        <p>
          <label>
            <input name="fclass" value="business"  type="checkbox" />
            <span>Business</span>
          </label>
        </p>
        <p>
          <label>
            <input name="fclass" value="economy" type="checkbox" />
            <span>Economy</span>
          </label>
        </p>
        <p>
          <label>
            <input name="fclass" value="executive"  type="checkbox" />
            <span>Executive</span>
          </label>
        </p>


      </div>
      <div class="col s3">
        <div class="input-field ">
          <i class="material-icons prefix">access_time</i>
          <input id="icon_sourcetime" name="sourcetime" type="text" class="timepicker">
          <label for="icon_sourcetime">source timing </label>
        </div>
      </div>
        <div class="col s3">
          <div class="input-field ">
            <i class="material-icons prefix">access_time</i>
            <input id="icon_destime" name="destime" type="text" class="timepicker">
            <label for="icon_destime">destination timing </label>
          </div>
       </div>
       </div>
      
         
         
          
          
          <div class="row">
            <div class="col s12" style="display: flex; flex-direction: row;justify-content:space-around ;">
              <p>
                <label>
                  <input name="days" value="sunday" type="checkbox" />
                  <span>Sunday</span>
                </label>
              </p>
              <p>
                <label>
                  <input name="days" value="Monday"  type="checkbox" />
                  <span>Monday</span>
                </label>
              </p>
              <p>
                <label>
                  <input name="days" value="tuesday"  type="checkbox" />
                  <span>Tuesday</span>
                </label>
              </p>
              <p>
                <label>
                  <input name="days" value="wednesday"  type="checkbox" />
                  <span>Wednesday</span>
                </label>
              </p>
              <p>
                <label>
                  <input name="days" value="thursday" type="checkbox" />
                  <span>Thursday</span>
                </label>
              </p>
              <p>
                <label>
                  <input name="days" value="friday"  type="checkbox" />
                  <span>Friday</span>
                </label>
              </p>
              <p>
                <label>
                  <input name="days" value="saturday" type="checkbox" />
                  <span>Saturday</span>
                </label>
              </p>
            
            </div>
            </div>
            <div class="row">
              <div class="col s12">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>File</span>
                    <input type="file" required name="logo">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
              </div>
              </div>



              <div class="row">
                <div class="col s6" style="display: flex; justify-content: center;">
              
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
  </div>
  

  <div class="col s6" style="display: flex; justify-content: center;">
              
    <button class="btn waves-effect waves-light" type="reset" name="action">Reset
      <i class="material-icons right">remove</i>
    </button>
    </div>
  </div>

    </div> 
    </div>
  </form>
     
    </body>
    
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    </html>
    
    